.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    color: #FFF;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav ul {
    display: flex;
    position: relative;
    right: 20px;
}

